[user]
	name = Patrick Weston
	email = patrickfweston@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	excludesfile = /Users/patrick/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/patrick/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/patrick/.stCommitMsg
[alias]
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
